BASE_URL=https://stage-annsacks.kohler.com
DARKLAUNCH_URL=https://darklaunch.kohler.com/confirm?dest=stage-annsacks.kohler.com/
DARKLAUNCH_PASSWORD=
SKU_FILE=June-26 Campaign Launch Skus.xlsx
MAX_SKUS=
JOB_STATUS_URL=
JOB_STATUS_SUCCESS_TEXT=
